@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  * {
    font-family: "Prompt", serif;
    padding: 0;
    margin: 0;
  }
}

/* Default button */
.create-button {
  @apply border-[1px] font-light border-green-500 text-green-500 rounded-md p-2 hover:bg-green-500 hover:text-white text-lg transition;
}

.view-button {
  @apply bg-blue-500  rounded-md p-3  text-white hover:bg-blue-600 transition;
}

.edit-button {
  @apply bg-yellow-500 rounded-md p-3  text-white hover:bg-yellow-600 transition;
}

.revert-button {
  @apply bg-emerald-500 rounded-md p-3  text-white hover:bg-emerald-600 transition;
}

.update-button {
  @apply bg-blue-700 rounded-md p-2 text-white hover:bg-blue-800 transition;
}

.cancel-button {
  @apply bg-gray-400 rounded-md p-2 text-white hover:bg-gray-500 transition;
}

.delete-button {
  @apply bg-red-500 rounded-md p-3  text-white hover:bg-red-600 transition;
}

.print-button {
  @apply bg-orange-500 rounded-md p-3  text-white hover:bg-orange-600 transition;
}

.navigate-button {
  @apply bg-red-500 rounded-md px-6 py-2 text-white hover:bg-transparent hover:border-[1px] hover:border-red-500 hover:text-red-500 transition cursor-pointer;
}

/* Navbar-admin */
.link-navbar-text {
  @apply flex items-center gap-2 cursor-pointer p-4 rounded-md transition-all duration-300 relative;
}

.underline-navbar-text {
  @apply absolute left-0 bottom-0 w-full h-[2px] bg-blue-600 transition-all duration-300 ease-in-out transform;
}

.active-link-navbar-admin {
  @apply text-blue-600;
}

.inactive-link-navbar-admin {
  @apply text-gray-500 hover:text-blue-600;
}

.underline-active-navbar-admin {
  @apply scale-x-100;
}

.underline-inactive-navbar-admin {
  @apply scale-x-0;
}

/* Default Index Page */
.index-border-div {
  @apply border-[1px] border-gray-300 rounded-sm bg-white my-8;
}

.index-title-div {
  @apply p-4 border-b-[1px] border-gray-300;
}

.index-topic {
  @apply text-2xl font-normal text-center;
}

.table-th {
  @apply border px-3 py-2 text-blue-500 font-normal bg-[#f7f8fc];
}

.table-th-no {
  @apply px-3 py-2 text-gray-500 font-normal w-fit bg-[#f7f8fc];
}

.tbody-td {
  @apply border px-3 py-1 font-light;
}

/* Input Layout Page */
.input-layout-left {
  @apply w-1/3 bg-white p-4 rounded-md border-[1px] border-gray-300;
}

.input-layout-right {
  @apply w-2/3 bg-white p-4 rounded-md border-[1px] border-gray-300;
}

.input-field {
  @apply w-full p-2 border-[1px] font-light border-gray-300 focus:outline-none focus:ring-2 rounded-md focus:ring-blue-500;
}

/* Dashboard Page */
.card-dashboard {
  @apply w-full bg-white p-4 rounded-md border-[1px] border-gray-300;
}
